.aboutme{
    background-color: rgb(112, 128, 144);
    box-shadow: -2px 0px 8px rgb(87, 87, 87);
    height: auto;
    color: white;
    padding-top: 1rem;

}
.container{
    text-align: left;
}
.paragraph_aboutme{
    text-align: left;
}